################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DndApi/.vs/DndApi/DesignTimeBuild
/DndApi/.vs/DndApi/FileContentIndex
/DndApi/.vs/DndApi/v15
/DndApi/.vs/DndApi/v17
/DndApi/DndApi/bin/Debug/net8.0
/DndApi/DndApi/obj/Debug/net8.0/ref
/DndApi/DndApi/obj/Debug/net8.0/refint
/DndApi/DndApi/obj/Debug/net8.0/staticwebassets
/DndApi/DndApi/obj/Debug/net8.0/apphost.exe
/DndApi/DndApi/obj/Debug/net8.0/DndApi.AssemblyInfo.cs
/DndApi/DndApi/obj/Debug/net8.0/DndApi.AssemblyInfoInputs.cache
/DndApi/DndApi/obj/Debug/net8.0/DndApi.csproj.AssemblyReference.cache
/DndApi/DndApi/obj/Debug/net8.0/DndApi.csproj.CoreCompileInputs.cache
/DndApi/DndApi/obj/Debug/net8.0/DndApi.csproj.FileListAbsolute.txt
/DndApi/DndApi/obj/Debug/net8.0/DndApi.dll
/DndApi/DndApi/obj/Debug/net8.0/DndApi.genruntimeconfig.cache
/DndApi/DndApi/obj/Debug/net8.0/DndApi.MvcApplicationPartsAssemblyInfo.cache
/DndApi/DndApi/obj/Debug/net8.0/DndApi.MvcApplicationPartsAssemblyInfo.cs
/DndApi/DndApi/obj/Debug/net8.0/DndApi.pdb
/DndApi/DndApi/obj/Debug/net8.0/DndApi.sourcelink.json
/DndApi/DndApi/obj/Debug/net8.0/staticwebassets.build.json
