################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DndApi/.vs/DndApi/DesignTimeBuild
/DndApi/.vs/DndApi/FileContentIndex
/DndApi/.vs/DndApi/v15
/DndApi/.vs/DndApi/v17
/DndApi/DndApi/bin/Debug/net8.0
/DndApi/DndApi/obj/Debug/net8.0/ref
/DndApi/DndApi/obj/Debug/net8.0/refint
/DndApi/DndApi/obj/Debug/net8.0/DndApi.AssemblyInfo.cs
/DndApi/DndApi/obj/Debug/net8.0/DndApi.AssemblyInfoInputs.cache
